:root {
    --font-color: #343434;
    --background-transparent: #ffffff54;
    --background-modal-wrapper: #ffffff98;
    --background-modal: #ffffffe2;
    --bg-btn-color: #ffffff80;
    --bg-btn-disabled-color: #ffffff50;
    --btn-disabled-color: #808080;
    --error-message-color: #e11010;
    --bg-color-online-indicator: #17c517;
    --bg-color-offline-indicator: #a51111;
    --border-color: #ffffff63;
}
