.section-about {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.content-box {
    display: flex;
    width: 350px;
    height: 250px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: var(--background-transparent);
    box-shadow: 0 8px 10px #4a4a4a5a;
    gap: 20px;
    grid-template-columns: 30px;
}

.content-information {
    text-align: center;
}
