.modal {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-close {
    background-color: rgb(32 25 242 / 21.5%);
}

.button-close:hover {
    background-color: rgb(95 84 249 / 20.3%);
}
