.message-field {
    display: flex;
    width: 70%;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--background-transparent);
}

.messages-header {
    display: flex;
    width: 100%;
    height: 41px;
    align-items: center;
    justify-content: center;
    order: 1;
    padding-right: 10px;
    border-radius: 5px;
    border-bottom: 3px solid var(--border-color);
}

.hidden {
    display: none;
}

.dialog-wrapper {
    display: flex;
    width: 100%;
    height: calc(100% - 37px - 37px);
    max-height: calc(100% - 37px - 37px);
    align-items: center;
    justify-content: center;
    order: 2;
    gap: 10px;
    scrollbar-color: rgb(169 144 245 / 35.4%) transparent;
    scrollbar-width: thin;
    scroll-behavior: smooth;

    &--active {
        display: block;
        overflow: hidden auto;
        flex-direction: column;
    }
}

.message-input-box {
    display: flex;
    width: 100%;
    height: 41px;
    justify-content: space-between;
    order: 3;
    border-radius: 5px;
    border-top: 3px solid var(--border-color);
}

.message-input {
    width: 100%;
    height: 100%;
}

.send-button {
    width: 90px;
}

.message-wrapper {
    display: flex;
    width: 100%;
    justify-content: left;
    padding: 10px;

    &--right {
        justify-content: right;
    }

    &:hover {
        cursor: pointer;
    }
}

.message-box {
    display: flex;
    width: 50%;
    min-height: 120px;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--background-transparent);
    gap: 5px;

    @media screen and (width <= 850px) {
        width: 80%;
    }
}

.upper-box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.message,
.message-area {
    display: flex;
    width: 100%;
    min-height: 50px;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    background-color: #ffffffb4;
    resize: vertical;
    word-wrap: break-word;
}

.lower-box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 30%;
}

.status {
    order: 2;
}

.status-edit {
    order: 1;
}

.delimiter {
    position: relative;
    left: 5%;
    display: flex;
    width: 90%;
    height: 2px;
    align-items: center;
    justify-content: center;
    background-color: var(--delimiter-color);
}

@media screen and (width <= 450px) {
    .date {
        font-size: 7px;
    }
}
