.message-field {
    border: 1px solid black;
    width: 70%;
    background-color: var(--background-transparent);
    border-radius: 10px;
    overflow: auto;
    scrollbar-color: rgba(169, 144, 245, 0.354) transparent;
    scrollbar-width: thin;
}

.messages-header {
    display: flex;
    justify-content: center;
    padding-right: 10px;
    align-items: center;
    border-bottom: 1px solid black;
    width: 100%;
    height: 40px;
}
