.section-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    width: 250px;
    height: 400px;
    border-radius: 10px;
    background-color: var(--background-transparent);
    margin: 0 auto;
}

.label-login {
    text-align: left;
}

.buttons-login-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.button-login {
    width: 100%;
}

.button-about-auth {
    width: 100%;
}

.error-message {
    font-size: 0.7rem;
    color: var(--error-message-color);
}
