.header-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--background-transparent);
    border-radius: 10px;
}

.buttons-box {
    display: flex;
    gap: 10px;
}
